@font-face {
  src: url("../assets/fonts/static/HankenGrotesk-VariableFont_wght.ttf") format("ttf");
  font-family: "Hanken Grotesk";
  font-weight: 500;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Hanken Grotesk";
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
}

section {
  width: 60rem;
  display: flex;
  flex-direction: row;
  margin: auto;
  border-radius: 20px;
  box-shadow: 9px 26px 68px -30px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 9px 26px 68px -30px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 9px 26px 68px -30px rgba(0, 0, 0, 0.51);
}
@media (max-width: 960px) {
  section {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}
section #result-container,
section #summary-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 960px) {
  section #result-container,
  section #summary-container {
    width: 100%;
  }
}
section #result-container {
  background: linear-gradient(to bottom, #7857ff 5%, #2e2be9 95%);
  color: hsl(0, 0%, 100%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media (max-width: 960px) {
  section #result-container {
    height: 50%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
section #result-container h4 {
  color: rgba(255, 255, 255, 0.7);
  font-size: x-large;
}
section #result-container #total-score {
  background: linear-gradient(to bottom, rgba(78, 33, 202, 0.8) 25%, rgba(36, 33, 202, 0.2) 60%);
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px);
  width: 50%;
  height: 40%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section #result-container #total-score p {
  margin: 0;
}
section #result-container #total-score :nth-child(1) {
  font-size: 4rem;
}
section #result-container #total-score :nth-child(2) {
  color: rgba(255, 255, 255, 0.5);
}
section #result-container #score-text {
  display: flex;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section #result-container #score-text h3 {
  font-size: x-large;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}
section #result-container #score-text p {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 0;
}
section #summary-container {
  align-items: flex-start;
  padding: 3rem 0 3rem 3rem;
}
@media (max-width: 960px) {
  section #summary-container {
    height: 60%;
    padding: 0;
    align-items: center;
  }
  section #summary-container h4 {
    width: 85%;
  }
}
section #summary-container h4 {
  font-size: x-large;
  color: hsl(224, 30%, 27%);
}
section #summary-container #summary-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
@media (max-width: 960px) {
  section #summary-container #summary-content {
    width: 100%;
  }
}
section #summary-container #summary-content #Reaction-span,
section #summary-container #summary-content #Memory-span,
section #summary-container #summary-content #Verbal-span,
section #summary-container #summary-content #Visual-span {
  margin-bottom: 1rem;
  padding: 0 1rem 0 1rem;
  border-radius: 10px;
}
@media (max-width: 960px) {
  section #summary-container #summary-content #Reaction-span,
  section #summary-container #summary-content #Memory-span,
  section #summary-container #summary-content #Verbal-span,
  section #summary-container #summary-content #Visual-span {
    width: 100%;
    align-self: center;
  }
}
section #summary-container #summary-content #Reaction-span div > img,
section #summary-container #summary-content #Memory-span div > img,
section #summary-container #summary-content #Verbal-span div > img,
section #summary-container #summary-content #Visual-span div > img {
  padding-right: 0.5rem;
}
section #summary-container #summary-content #Reaction-span {
  background-color: rgba(255, 87, 87, 0.1);
  width: 80%;
  position: relative;
  box-sizing: content-box;
  border: 2px solid transparent;
}
section #summary-container #summary-content #Reaction-span::before, section #summary-container #summary-content #Reaction-span::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
}
section #summary-container #summary-content #Reaction-span::before {
  top: -2px;
  left: -2px;
  border-top: 2px solid rgba(255, 87, 87, 0.2);
  border-left: 2px solid rgba(255, 87, 87, 0.2);
  border-radius: 3px;
}
section #summary-container #summary-content #Reaction-span::after {
  top: -2px;
  right: -2px;
  border-top: 2px solid rgba(255, 87, 87, 0.2);
  border-right: 2px solid rgba(255, 87, 87, 0.2);
  border-radius: 3px;
}
section #summary-container #summary-content #Reaction-span div > p {
  color: rgba(255, 87, 87, 0.8);
  font-weight: 700;
  position: relative;
  width: 4rem;
}
section #summary-container #summary-content #Reaction-span div > p::before, section #summary-container #summary-content #Reaction-span div > p::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
}
section #summary-container #summary-content #Reaction-span div > p::before {
  top: 27px;
  left: -46px;
  border-bottom: 2px solid rgba(255, 87, 87, 0.2);
  border-left: 2px solid rgba(255, 87, 87, 0.2);
  border-radius: 3px;
}
section #summary-container #summary-content #Memory-span {
  background-color: rgba(255, 176, 31, 0.1);
  width: 80%;
  position: relative;
  box-sizing: content-box;
  border: 2px solid transparent;
}
section #summary-container #summary-content #Memory-span::before, section #summary-container #summary-content #Memory-span::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
}
section #summary-container #summary-content #Memory-span::before {
  top: -2px;
  left: -2px;
  border-top: 2px solid rgba(255, 176, 31, 0.2);
  border-left: 2px solid rgba(255, 176, 31, 0.2);
  border-radius: 3px;
}
section #summary-container #summary-content #Memory-span::after {
  top: -2px;
  right: -2px;
  border-top: 2px solid rgba(255, 176, 31, 0.2);
  border-right: 2px solid rgba(255, 176, 31, 0.2);
  border-radius: 3px;
}
section #summary-container #summary-content #Memory-span div > p {
  color: rgba(255, 176, 31, 0.8);
  font-weight: 700;
  position: relative;
  width: 4rem;
}
section #summary-container #summary-content #Memory-span div > p::before, section #summary-container #summary-content #Memory-span div > p::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
}
section #summary-container #summary-content #Memory-span div > p::before {
  top: 27px;
  left: -46px;
  border-bottom: 2px solid rgba(255, 176, 31, 0.2);
  border-left: 2px solid rgba(255, 176, 31, 0.2);
  border-radius: 3px;
}
section #summary-container #summary-content #Verbal-span {
  background-color: rgba(0, 189, 145, 0.1);
  width: 80%;
  position: relative;
  box-sizing: content-box;
  border: 2px solid transparent;
}
section #summary-container #summary-content #Verbal-span::before, section #summary-container #summary-content #Verbal-span::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
}
section #summary-container #summary-content #Verbal-span::before {
  top: -2px;
  left: -2px;
  border-top: 2px solid rgba(0, 189, 145, 0.2);
  border-left: 2px solid rgba(0, 189, 145, 0.2);
  border-radius: 3px;
}
section #summary-container #summary-content #Verbal-span::after {
  top: -2px;
  right: -2px;
  border-top: 2px solid rgba(0, 189, 145, 0.2);
  border-right: 2px solid rgba(0, 189, 145, 0.2);
  border-radius: 3px;
}
section #summary-container #summary-content #Verbal-span div > p {
  color: rgba(0, 189, 145, 0.8);
  font-weight: 700;
  position: relative;
  width: 4rem;
}
section #summary-container #summary-content #Verbal-span div > p::before, section #summary-container #summary-content #Verbal-span div > p::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
}
section #summary-container #summary-content #Verbal-span div > p::before {
  top: 27px;
  left: -46px;
  border-bottom: 2px solid rgba(0, 189, 145, 0.2);
  border-left: 2px solid rgba(0, 189, 145, 0.2);
  border-radius: 3px;
}
section #summary-container #summary-content #Visual-span {
  background-color: rgba(17, 37, 212, 0.1);
  width: 80%;
  position: relative;
  box-sizing: content-box;
  border: 2px solid transparent;
}
section #summary-container #summary-content #Visual-span::before, section #summary-container #summary-content #Visual-span::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
}
section #summary-container #summary-content #Visual-span::before {
  top: -2px;
  left: -2px;
  border-top: 2px solid rgba(17, 37, 212, 0.2);
  border-left: 2px solid rgba(17, 37, 212, 0.2);
  border-radius: 3px;
}
section #summary-container #summary-content #Visual-span::after {
  top: -2px;
  right: -2px;
  border-top: 2px solid rgba(17, 37, 212, 0.2);
  border-right: 2px solid rgba(17, 37, 212, 0.2);
  border-radius: 3px;
}
section #summary-container #summary-content #Visual-span div > p {
  color: rgba(17, 37, 212, 0.8);
  font-weight: 700;
  position: relative;
  width: 4rem;
}
section #summary-container #summary-content #Visual-span div > p::before, section #summary-container #summary-content #Visual-span div > p::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
}
section #summary-container #summary-content #Visual-span div > p::before {
  top: 27px;
  left: -46px;
  border-bottom: 2px solid rgba(17, 37, 212, 0.2);
  border-left: 2px solid rgba(17, 37, 212, 0.2);
  border-radius: 3px;
}
section #summary-container #summary-content #Reaction-score,
section #summary-container #summary-content #Memory-score,
section #summary-container #summary-content #Verbal-score,
section #summary-container #summary-content #Visual-score {
  color: rgba(48, 59, 90, 0.6);
  font-weight: 700;
  position: relative;
  width: 4rem;
}
section #summary-container #summary-content #Reaction-score::before, section #summary-container #summary-content #Reaction-score::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
}
section #summary-container #summary-content #Reaction-score::after {
  top: 27px;
  right: -18px;
  border-bottom: 2px solid rgba(255, 87, 87, 0.2);
  border-right: 2px solid rgba(255, 87, 87, 0.2);
  border-radius: 3px;
}
section #summary-container #summary-content #Memory-score::before, section #summary-container #summary-content #Memory-score::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
}
section #summary-container #summary-content #Memory-score::after {
  top: 27px;
  right: -18px;
  border-bottom: 2px solid rgba(255, 176, 31, 0.2);
  border-right: 2px solid rgba(255, 176, 31, 0.2);
  border-radius: 3px;
}
section #summary-container #summary-content #Verbal-score::before, section #summary-container #summary-content #Verbal-score::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
}
section #summary-container #summary-content #Verbal-score::after {
  top: 27px;
  right: -18px;
  border-bottom: 2px solid rgba(0, 189, 145, 0.2);
  border-right: 2px solid rgba(0, 189, 145, 0.2);
  border-radius: 3px;
}
section #summary-container #summary-content #Visual-score::before, section #summary-container #summary-content #Visual-score::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
}
section #summary-container #summary-content #Visual-score::after {
  top: 27px;
  right: -18px;
  border-bottom: 2px solid rgba(17, 37, 212, 0.2);
  border-right: 2px solid rgba(17, 37, 212, 0.2);
  border-radius: 3px;
}
section #summary-container #summary-content #Reaction-score > strong,
section #summary-container #summary-content #Memory-score > strong,
section #summary-container #summary-content #Verbal-score > strong,
section #summary-container #summary-content #Visual-score > strong {
  color: hsl(224, 30%, 27%);
}
section #summary-container #summary-content > span {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
section #summary-container #summary-content > span > div {
  display: flex;
}
section #summary-container button {
  display: inline;
  width: 90%;
  border: none;
  padding: 1rem;
  margin: 2rem 0 2rem 0;
  border-radius: 40px;
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  font-size: large;
}
@media (max-width: 960px) {
  section #summary-container button {
    width: 85%;
  }
}