@font-face {
  font-family: "Hanken Grotesk";
  src: url("../static/HankenGrotesk-VariableFont_wght.ttf") format("wght");
}
body {
  margin: 0;
  padding: 0;
}

section {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
}
section #result-container,
section #summary-container {
  display: flex;
  width: 50%;
}